<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HotelMapper">

    <sql id="Base_Column_List">
        id,username,password,name,phone,email,avatar,role,price,url,description,status
    </sql>

    <select id="selectAll" resultType="com.example.entity.Hotel">
        select
        <include refid="Base_Column_List" />
        from hotel
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="username != null"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null"> and password = #{password}</if>
            <if test="name != null"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null"> and phone = #{phone}</if>
            <if test="email != null"> and email= #{email}</if>
            <if test="avatar != null"> and avatar = #{avatar}</if>
            <if test="role != null"> and role = #{role}</if>
            <if test="price != null"> and price = #{price}</if>
            <if test="url != null"> and url = #{url}</if>
            <if test="description != null"> and description = #{description}</if>
            <if test="status != null"> and status = #{status}</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.example.entity.Hotel" useGeneratedKeys="true">
        insert into hotel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="price != null">price,</if>
            <if test="url != null">url,</if>
            <if test="description != null">description,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="price != null">#{price},</if>
            <if test="url != null">#{url},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Hotel">
        update hotel
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="url != null">
                url = #{url},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>