<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TypeMapper">

    <sql id="Base_Column_List">
        id,name,description,price,num,hotel_id,img
    </sql>

    <select id="selectAll" resultType="com.example.entity.Type">
        select type.*, hotel.name as hotelName from type
        left join hotel on type.hotel_id = hotel.id
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="name != null"> and type.name like concat('%', #{name}, '%')</if>
            <if test="description != null"> and description = #{description}</if>
            <if test="price != null"> and type.price = #{price}</if>
            <if test="num != null"> and num = #{num}</if>
            <if test="img != null"> and img = #{img}</if>
            <if test="hotelId != null"> and hotel_id = #{hotelId}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Type">
        select type.*, hotel.name as hotelName
        from type
        left join hotel on type.hotel_id = hotel.id
        where type.id = #{id}
    </select>

    <delete id="deleteById">
        delete from type
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Type" useGeneratedKeys="true">
        insert into type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="description != null">description,</if>
            <if test="price != null">price,</if>
            <if test="num != null">num,</if>
            <if test="img != null">img,</if>
            <if test="hotelId != null">hotel_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="description != null">#{description},</if>
            <if test="price != null">#{price},</if>
            <if test="num != null">#{num},</if>
            <if test="img != null">#{img},</if>
            <if test="hotelId != null">#{hotelId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Type">
        update type
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
            <if test="hotelId != null">
                hotel_id = #{hotelId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>